::-moz-selection {
  background-color: navajowhite;
  color: #fff;
}

::selection {
  background-color: navajowhite;
  color: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "Raleway", "Sitka Heading", "Lucida Bright", "Script MT", sans-serif;
  line-height: 1.9;
  color: rgb(80, 128, 159);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100%;
  position: relative;
  display: grid;
  grid-template-rows: 12vh 8vh minmax(-webkit-min-content, 80vh);
  grid-template-rows: 12vh 8vh minmax(min-content, 80vh);
  grid-template-columns: repeat(8, 1fr);
  overflow: hidden;
}

li {
  list-style: none;
}

a:link,
a:visited {
  text-decoration: none;
  color: rgb(80, 128, 159);
  font-weight: 300;
  letter-spacing: 0.2rem;
  font-size: calc(1.2rem + 0.5vw);
}

i {
  color: rgb(80, 128, 159);
  font-size: calc(1.5rem + 2vw);
}

.nav {
  width: 100%;
  height: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
  background-color: rgba(235, 233, 231, 0.3);
  padding: 3rem 6rem;
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 8vw;
  height: 8vh;
  cursor: pointer;
}
.nav__item {
  display: flex;
  align-items: center;
}
.nav__item--link {
  display: flex;
  padding-right: 5vw;
  position: relative;
}
.nav__item--link--active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 6rem;
  height: 2px;
  background-color: rgb(108, 171, 212);
}

.content {
  width: 100%;
  height: 100%;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}
.content__heading {
  font-size: 5vw;
  color: rgb(80, 128, 159);
  letter-spacing: 6vw;
  font-family: "MADE Canvas";
  z-index: 20;
  grid-column: 3/8;
  grid-row: 3/4;
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-animation: content 3.2s alternate;
          animation: content 3.2s alternate;
}
.content__bg1 {
  grid-column: 1/-1;
  grid-row: 3/4;
  background-image: url(../img/Mountain.jpg);
  -webkit-animation: content 2.5s alternate;
          animation: content 2.5s alternate;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.content__bg2 {
  grid-column: 1/-1;
  grid-row: 3/4;
  background-image: url(../img/BackTrees.png);
  z-index: 4;
  transform-origin: left;
  -webkit-animation: content 3.5s alternate;
          animation: content 3.5s alternate;
}
.content__bg3 {
  grid-column: 1/-1;
  grid-row: 1/4;
  background-image: url(../img/Trees.png);
  z-index: 3;
  transform-origin: right;
  -webkit-animation: content 3s alternate;
          animation: content 3s alternate;
}

@-webkit-keyframes content {
  0% {
    opacity: 0.5;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes content {
  0% {
    opacity: 0.5;
    transform: translateY(500px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@-webkit-keyframes about {
  0% {
    opacity: 0.5;
    transform: translateY(-10rem) scale(2.3);
  }
  100% {
    opacity: 1;
    transform: translate(10);
  }
}
@keyframes about {
  0% {
    opacity: 0.5;
    transform: translateY(-10rem) scale(2.3);
  }
  100% {
    opacity: 1;
    transform: translate(10);
  }
}
@-webkit-keyframes book {
  0% {
    opacity: 0.5;
    transform: translateY(-3rem) scale(1.3);
  }
  100% {
    opacity: 1;
    transform: translate(10);
  }
}
@keyframes book {
  0% {
    opacity: 0.5;
    transform: translateY(-3rem) scale(1.3);
  }
  100% {
    opacity: 1;
    transform: translate(10);
  }
}
.about {
  justify-content: center;
  align-items: center;
  background-blend-mode: screen;
}
.about__heading {
  font-size: 4vw;
  color: rgb(80, 128, 159);
  letter-spacing: 3vw;
  font-family: "MADE Canvas";
  z-index: 20;
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.about__para {
  font-size: 1.2vw;
  letter-spacing: 0.5vw;
  z-index: 4;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 35%;
  text-align: center;
}
.about__bg1 {
  width: 100%;
  height: 40vh;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(20rem) scaleX(1.3);
  background-image: url(../img/Mountain.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  -webkit-animation: about 2s alternate;
          animation: about 2s alternate;
}
.about__bg2 {
  width: 100%;
  height: 20vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../img/BackTrees.png);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 4;
  transform-origin: left;
  -webkit-animation: about 2s alternate;
          animation: about 2s alternate;
}
.about__bg3 {
  width: 100%;
  height: 60vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../img/Trees.png);
  z-index: -1;
  transform-origin: right;
  -webkit-animation: about 2s alternate;
          animation: about 2s alternate;
}

.book {
  width: 100%;
  height: 100%;
}
.book__heading--1 {
  font-size: calc(1.5vw + 0.5vh);
  color: rgb(80, 128, 159);
  font-family: "MADE Canvas";
  z-index: 20;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.book__heading--2 {
  font-size: calc(1vw + 0.3vh);
  color: rgb(143, 181, 224);
  font-style: oblique;
  font-family: "Raleway";
  z-index: 20;
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.book__bg3 {
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: 5%;
  left: 15.4%;
  background-image: url(../img/Trees.png);
  z-index: -1;
  transform: translate(13rem, 3rem) scaleX(1.25);
  transform-origin: right;
  -webkit-animation: book 2s alternate;
          animation: book 2s alternate;
}
.book__form {
  width: 60rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.book__form--1, .book__form--2 {
  width: 25rem;
  height: 3.5rem;
  background-color: hsl(204deg, 33%, 87%);
  color: rgb(150, 157, 163);
  border: none;
  font-size: 1.6rem;
  padding-left: 3rem;
  cursor: pointer;
}
.book__form--1:focus, .book__form--2:focus {
  outline: none;
}
.book__form--1:hover, .book__form--2:hover {
  color: rgb(129, 132, 134);
  background-color: rgb(208, 229, 231);
}
.book__form__btn {
  width: 3.5rem;
  height: 3.5rem;
  margin-left: 2rem;
  color: rgb(238, 231, 231);
  background-color: hsl(204deg, 33%, 67%);
  border: none;
  cursor: pointer;
  font-weight: 300px;
}
.book__form__btn:hover {
  color: rgb(255, 255, 255);
  background-color: hsl(204deg, 33%, 49%);
}

.content__bg2, .content__bg3, .about__bg3, .book__bg3 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}/*# sourceMappingURL=main-style.css.map */